.recommandations_container {
    max-width: 700px;
    margin: auto;
}

.recommandation_item {
    text-align: center;
    padding: 0 1.25rem 1.25rem;
}

.thumb {
    height: 6.6rem;
    width: 5.6rem;
    margin: 0 auto;
}

.recommantion-avatar {
    border-radius: 50%;
}

.icons-recommandations {
    font-size: 4rem;
    color: var(--title-color);

}

.recommandions_title {
    margin-top: 0.75rem;
}

.subtitle {
    color: #8b88b1;
    font-size: var(--small-font-size);
}

/* TODO Rajouter une div avec un gradient bottom to top de la taille du paddingbottom */
.comment {
    background-color: var(--container-color);
    padding: 2.875rem;
    margin-top: 1.5rem;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 3rem;
    height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.comment::-webkit-scrollbar {
    width: 10px;
}


.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.2rem !important;
}

.swiper-pagination-bullet-active {
    width: 1.2rem !important;
    height: 0.375rem !important;
    border-radius: 0.5rem !important;
    background-color: var(--third-color) !important;
}

.swiper-slide>div {
    margin: 0 100px;
}

.swiper-button-prev,
.swiper-button-next {
    top: var(--swiper-navigation-top-offset, 34%) !important;
    color: var(--second-color) !important;
}

.swiper [class^=devicon-] {
    line-height: 0;
}

.swiper,
.swiper-wrapper {
    z-index: 0 !important;
}

@media screen and (max-width: 1024px) {
    .comment {
        padding: 1.875rem;
        height: 30rem;
        overflow-x: hidden;
    }

    .swiper-slide>div {
        margin: 0 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: var(--swiper-navigation-top-offset, 34%) !important;
        color: var(--second-color) !important;
    }
}